a {
    @apply pb-2
         text-pink-400
          text-lg;
    //      hover:text-orange-400
    //       hover:border-b-2
    //       hover:border-pink-400;
    &:hover {
        @apply
        text-orange-400
        border-b-2
      border-pink-400;
    }
}

.ma-class {
    @apply pb-2 text-pink-400 text-lg hover:text-orange-400 hover:border-b-2 hover:border-pink-400
}