<nav class="bg-blue-400 sm:bg-purple-400 md:bg-green-400 lg:bg-yellow-400 h-28  ">
    <ul class="h-full flex flex-col md:flex-row justify-evenly items-center">
        <li><a routerLink="/">Accueil</a></li>
        <li><a  routerLink="/about">A propos</a></li>
        <li><a  routerLink="/contact">Contact</a></li>
    </ul>
</nav>