<h1>Liste des utilisateurs de notre super site :</h1>
<div class="cards">
    @for (user of users; track user.id) {
        <div [ngClass]="{'bg-pink-200': user.gender == 'f', 'bg-blue-100' : user.gender == 'm'}" class="card">
            <p>{{user.firstname}} {{user.lastname | uppercase }}</p>
            <img [src]="user.avatar" [alt]="'avatar représentant ' + user.firstname">
            <p>{{ user.birthdate | date : 'dd/MM/yyyy' }}</p>
            <!-- @if (user.gender == 'm') {
                <p>Enchanté</p>
            } @else {
                <p>Enchantée</p>
            } -->
            @switch (user.gender) {
                @case('m') {
                    <p>Enchanté</p>
                }
                @case('f') {
                    <p>Enchantée</p>
                }
                @case('o') {
                    <p>Enchanté/ée</p>
                }
                @default {
                    <p>Erreur genre</p>
                }
            }
        </div>
    } @empty { 
        <p>Oh non, il n'y a pas d'utilisateurs 🤓</p>
    }
</div>