.cards {
    @apply flex justify-evenly items-center w-full bg-slate-200 ;
}

.card {
    @apply flex flex-col justify-evenly items-center
    w-1/4  rounded-xl;
    img {
        @apply h-32;
    }
}